html, body {
    margin: 0;
    height: 100%;
}

body {
    background: #656565;
    background-repeat: no-repeat;
    font-family: sans-serif;
    animation: fadeIn 0.8s;
}

@keyframes fadeIn {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

h1 {
    color: #1b9b81;
    height: 3rem;
    pointer-events: none;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.app__task-list {
    margin: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 50vw;
    max-width: 30rem;
    min-height: 10rem;
    border-radius: 20px;
    color: #aaaaaa;
    background: #656565;
    box-shadow: inset 9.91px 9.91px 12px #5C5C5C, inset -9.91px -9.91px 12px #6E6E6E;
}

@keyframes emptyArrowUpDown {
    0% {
        top: 7.5rem;
    }
    50% {
        top: 6rem;
    }
    100% {
        top: 7.5rem;
    }
}

.app__task-list--empty::after {
    content: '';
    width: 25px;
    height: 25px;
    position: relative;
    top: 7.5rem;
    display: block;
    transform: rotate(-45deg);
    border-bottom: 2px solid #1b9b81;
    border-left: 2px solid #1b9b81;
    animation: emptyArrowUpDown 1.5s infinite ease-in-out;
}

.task-list__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s;
    border-bottom: 1px solid #575656a2;
}

.task-list__item > label {
    width: 100%;
    cursor: pointer;
    padding: 0.4rem;

}

.task-list__item span {
    font-size: 1.1rem;
    padding-left: 2rem;
    user-select: none; 
    pointer-events: none;
}

.task-list__item:hover {
    box-shadow: inset 9.91px 9.91px 12px #5C5C5C, inset -9.91px -9.91px 12px #6E6E6E;
}

.task-list__item > button:first-of-type {
    margin-left: auto;
}

.task-item--checked {
    text-decoration: line-through;
    color: #1b9b81;
}

form {
    background: #656565;
    padding: 25px;
    box-shadow: inset 9.91px 9.91px 12px #5C5C5C, inset -9.91px -9.91px 12px #6E6E6E;
    width: 50vw;
    max-width: 30rem;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

form > input {
    width: 100%;
    color: #aaaaaa;
    box-shadow: inset 9.91px 9.91px 12px #5C5C5C, inset -9.91px -9.91px 12px #6E6E6E;
    border: none;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    transition: all .2s;
    margin-right: 5px;
}

form > input:focus-within {
    color: #e7e7e7;
    outline: none;
    box-shadow: inset 30.03px 30.03px 15px #5C5C5C, inset -30.03px -30.03px 15px #6E6E6E;
}

button {
    /* box-shadow: inset 9.91px 9.91px 12px #5C5C5C, inset -9.91px -9.91px 12px #6E6E6E; */
    background: transparent;
    border: none;
    height: 90%;
    color: #aaaaaa;
    transition: color .2s;
    cursor: pointer;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: fantasy;
}

button:hover {
    color: #e7e7e7;
    box-shadow: inset 30.03px 30.03px 15px #5C5C5C, inset -30.03px -30.03px 15px #6E6E6E;
}